.slide-left {
  animation: slide-left 2s ease;
}

@keyframes slide-left {
  0% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right {
  animation: slide-right 2s ease;
}

@keyframes slide-right {
  0% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-down {
  animation: slide-down 1.5s ease;
}

@keyframes slide-down {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-up {
  animation: slide-up 1.5s ease;
}

@keyframes slide-up {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 2s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: fit-content;
  }
}