@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

$font-family                    : 'Roboto', sans-serif;
$font-family-titles             : 'Cormorant Garamond', serif;
$font-light                     : 300;
$font-regular                   : 400;
$font-semi-bold                 : 600;

$font-size-body                         : 1.25rem;
$font-size-header                       : 1rem;
$font-size-navigation-link              : 3.75rem;
$font-size-navigation-link--mobile      : 2.75rem;

$font-size-xlarge                       : 6.25rem;
$font-size-large                        : 3.75rem;
$font-size-medium                       : 2.5rem;
$font-size-small                        : 1.25rem;
$font-size-xsmall                       : 0.875rem;

$h1                             : 2.5rem;