@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

$font-family                    : 'Cormorant Garamond', serif;
$font-light                     : 300;
$font-regular                   : 400;
$font-semi-bold                 : 600;

$font-size-body                         : 1.25rem;
$font-size-navigation-link              : 3.75rem;
$font-size-navigation-link--mobile      : 2.75rem;

$h1                             : 2.5rem;