@import 'styles/variables';
@import 'styles/shared';
@import  'styles/fonts';

.hero {
  font-family: $font-family-titles;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .svg-container {
  position: absolute;
  left: 0;
  right: 0;
  display: block;

  &--top {
    bottom: -10px;
  }

  &--bottom {
    top: 300px;
  }
}

.brand__parallax__container {
  width: 100%;
  z-index: 9999;
}

.hero .brand-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $tablet-max-width) {
    background-color: transparent;
  }
}

.hero .brand {
  margin-top: 3rem;
  line-height: 1;
}