@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/animations';

.line-label {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: -10%;
  animation: slide-right 3s ease;
  margin-bottom: 2%;

  @media screen and (max-width: $tablet-max-width) {
    display: none;
  }
}

.line-label__line {
  height: 2px;
  width: 300px;
  background-color: $main-color;
}

.line-label__label {
  font-size: $font-size-xsmall;
  font-weight: $font-thin;
  margin-left: 1rem;
}