@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/animations';

.underline {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 40px;

  @media screen and (max-width: $tablet-max-width) {
    display: none;
  }
}

.underline__line {
  height: 2px;
  width: 100%;
  background-color: $main-color;
}