@import 'styles/fonts';
@import 'styles/variables';

.header {
  z-index: 1;
  padding-top: 2.5rem;
  line-height: 2rem;
  position: relative;
  padding-left: 22%;
  padding-right: 22%;
  font-weight: $font-light;
  font-size: $font-size-header;
  animation: header-slide-in 1s ease;

  @media screen and (max-width: $tablet-max-width) {
    display: none;
  }
}

@keyframes header-slide-in {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

.header__content__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content__list-item a {
  cursor: pointer;
  
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $main-color;
    transition: width .3s;
  }

  &:hover::after {
    width: 100%;
  }
}