.header {
  display: flex;
  align-items: center;
  padding-top: 1.65rem;
  line-height: 2.5rem;
  justify-content: center;
}

.header .logo {
  width: 100px;
  height: 100px;
}

.header .brand {
  padding-left: 1.25rem;
}