@import 'styles/variables';
@import 'styles/fonts';

::selection {
  opacity: 1;
  color: #fff;
  background: $main-color;
}

@import 'styles/reset';
@import 'styles/base';
@import 'styles/animations';